



<!--  BACKUP ACIMA

  import {ReactiveFormsModule, FormsModule} from '@angular/form';
import {MatInputModule} from '@angular/material/input';
<form #form="ngForm"  method="GET" (ngSubmit)="onSubmit()">
  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label> Nome </label>
        <input type="text" class="form-control" formControlName="nome" placeholder="nome">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label> Senha </label>
        <input type="text" class="form-control" formControlName="senha" placeholder="****">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label> Desc </label>
        <input type="text" class="form-control" formControlName="descricao" placeholder="desc">
      </div>
    </div>

    <button type="submit">Enviar</button>
  </div>
</form>

-->
