<style>
</style>

<div class="toolbar" role="banner">
</div>
<router-outlet></router-outlet>.
<app-menu-principal></app-menu-principal>


Menu Rotas<br>
<nav>
  <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
  <a [routerLink]="['/scripts']" routerLinkActive="router-link-active">Scripts</a>
  <a [routerLink]="['/waf']" routerLinkActive="router-link-active">Waf</a>
</nav>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
      </div>
      <div class="footer-col">

      </div>
      <a href=""  style="align-items: center;">Painel Administrativo</a>
      <div class="footer-col">

      </div>
    </div>

  </div>

</footer>


