<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
       <!-- TEXTO BARRA LATERAL-->
      </div>
      <div class="footer-col">

        <h4>Organização</h4>
        <ul>
          <li><a href="#">Documentos</a></li>
          <!-- <li><a href="#">Melhorias</a></li> -->
        </ul>
      </div>

      <div class="footer-col">

        <h4>Parcerias</h4>
        <ul>
          <li><a href="#">Patrocínios</a></li>
          <!--<li><a href="#">Documentações</a></li>-->
        </ul>
      </div>
      <div class="footer-col">
        <h4>Grupo</h4>
        <div class="social-links">
          <a href="#"><i class=""></i></a>
          <a href="#"><i class=""></i></a>
          <a href="#"><i class=""></i></a>
          <a href="#"><i class=""></i></a>
        </div>
      </div>
    </div>

  </div>
<a href="/perfil/foto-perfil"> foto Perfil </a>
</footer>
